/* main block style */
.main-block {
	padding: 40px 0 15px;

	@include media('>=tablet') {
		padding: 50px 0 25px;
	}


	.columns {
		color: $black;

		@include media('<tablet') {
			font-size: 14px;
		}

		@include media('>=xs-tablet') {
			display: flex;
		}
	}

	.main-column {
		@include media('>=xs-tablet') {
			width: 74%;
		}
	}

	aside {
		max-width: 325px;
		letter-spacing: -1px;


		@include media('>=xs-tablet') {
			max-width: auto;
			flex: 1 0;
			padding: 0 0 0 25px;
		}

		h2 {
			font-weight: 700;
		}

		h3 {
			font-size: 14px;
			font-family: 600px;
			margin: 0;

			@include media('>=tablet') {
				font-size: 18px;
			}
		}

		strong {
			display: block;
		}
	}
}