// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$black: #222;
$dark-gray: #272e36;
$gray: #eee;
$light-gray: #f2f3f5;
$white: #fff;
$light-blue: #00a3e1;

$secondary: $dark-gray;
$primary: $light-blue;

$base-font-sans-serif: 'Graphik Web', 'Helvetica Neue', Arial, sans-serif;

// This is the default html and body font-size for the base rem value.
$rem-base: 16px;

// Body
$base-text-color: $secondary !default;
$base-background-color: $white !default;
$font-size-base: 16px !default;
$line-height-base: 1.4 !default;
$base-font-family: $base-font-sans-serif !default;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $secondary;

// Buttons
$btn-color: $white !default;
$btn-background: $secondary !default;
$btn-padding: 6px 15px !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: #c3cdd9 !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: #818d9c !default;

// Headers
$h1-font-size: 32px !default;
$h2-font-size: 22px !default;
$h3-font-size: 16px !default;
$h4-font-size: 15px !default;
$h5-font-size: 14px !default;
$h6-font-size: 13px !default;

$headings-font-family: inherit !default;
$headings-color: inherit !default;

$animation-speed: 0.3s;
